/* .input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: slateblue;
  height: 35px;
} */

/* .gallery {
  border: 1px brown solid;
  height: 50px;
  padding-left: 350px;
  padding-right: 350px;
} */
